body {
  position: relative;
  margin: 0;
  min-width: 320px;
  font-family: "Lab Grotesque", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
